<form name="formA" class="form-horizontal" #myForm="ngForm">

  <!-- Row -->
  <div class="row">

    <!-- Column -->
    <div class="col-md-6">
      <div class="form-group">
        <label class="col-md-3 control-label center" for="lastName">{{ 'ACCOUNT.FIELD_LASTNAME' | getText }}</label>
        <div class="col-md-8">
          <input type="text" id="lastName" class="form-control" name="lastName" [(ngModel)]="partner.lastName" />
        </div>
      </div>

      <div class="form-group">
        <label class="col-md-3 control-label center" for="firstName">{{ 'ACCOUNT.FIELD_FIRSTNAME' | getText }}</label>
        <div class="col-md-8">
          <input type="text" id="firstName" class="form-control" name="firstName" [(ngModel)]="partner.firstName" />
        </div>
      </div>

      <div class="form-group" [class.has-error]="myEmail.errors">
        <label class="col-md-3 control-label center" for="inputEmail">{{ 'ACCOUNT.FIELD_EMAIL' | getText }}*</label>
        <div class="col-md-8">
          <input type="email" id="inputEmail" class="form-control" name="email" #myEmail="ngModel" required
                 [(ngModel)]="partner.email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}">
          <div *ngIf="myEmail.errors"><span class="help-block">Invalid email</span></div>
        </div>
      </div>
    </div>
    <!-- // Column END -->

    <!-- Column -->
    <div class="col-md-6">
      <div class="form-group" [class.has-error]="myPhone.errors">
        <label class="col-md-3 control-label center" for="inputPhone">{{ 'ACCOUNT.FIELD_PHONE' | getText }}</label>
        <div class="col-md-8">
          <input type="tel" id="inputPhone" class="form-control" name="phone" #myPhone="ngModel"
                 [(ngModel)]="partner.phone" pattern="\+?\s*(\d+\s?){8,}"/>
          <div *ngIf="myPhone.errors"><span class="help-block">Invalid phone</span></div>
        </div>
      </div>

      <div class="form-group">
        <label class="col-md-3 control-label center" for="inputCountry">{{ 'ACCOUNT.FIELD_COUNTRY' | getText }}</label>
        <div class="col-md-8">
          <select id="inputCountry" class="form-control" name="selectCountry" [(ngModel)]="partner.countryID">
            <option *ngFor="let country of countries" value="{{ country.id }}">{{ country.name }}</option>
          </select>
        </div>
      </div>

      <div class="form-group">
        <label class="col-md-3 control-label center" for="inputCompany">{{ 'ACCOUNT.FIELD_COMPANY' | getText }}</label>
        <div class="col-md-8">
          <input type="text" id="inputCompany" class="form-control" name="company" [(ngModel)]="partner.company" />
        </div>
      </div>
    </div>
    <!-- // Column END -->

  </div>
  <!-- // Row END -->

  <div class="separator line bottom"></div>

  <!-- Form actions -->
  <div class="separator top">
    <button type="submit" class="btn btn-primary" [disabled]="myForm.form.pristine || !myForm.form.valid" (click)="updateAccount()">
      <i class="fa fa-check"></i>&nbsp; {{ 'ACCOUNT.BTN_SAVE' | getText }}
    </button>
    <button type="submit" class="btn btn-primary" disabled>
      <i class="fa fa-refresh"></i>&nbsp; {{ 'ACCOUNT.BTN_SAVING' | getText }}
    </button>
    <button *ngIf="!partner" type="submit" class="btn btn-primary" disabled>
      <i class="fa fa-spinner fa-spin"></i>&nbsp; {{ 'ACCOUNT.BTN_LOADING' | getText }}
    </button>
  </div>
  <!-- // Form actions END -->

</form>
