<div id="content">
	<h1 class="bg-white content-heading border-bottom">{{ 'MENU.ACCOUNT' | getText }} </h1>

	<div class="innerAll spacing-x2">

		<!-- Widget -->
		<div class="widget widget-tabs widget-tabs-gray border-bottom-none">

			<nav class="widget-head">
				<ul>
					<li role="presentation"><a routerLink="tab-details" class="glyphicons edit">
						{{ 'ACCOUNT.TAB_ACCOUNT' | getText }}</a></li>
					<li role="presentation"><a routerLink="tab-settings" class="glyphicons settings">
						{{ 'ACCOUNT.TAB_PSW' | getText }}</a></li>
					<li role="presentation"><a routerLink="tab-billing" class="glyphicons usd">
						{{ 'ACCOUNT.TAB_BILLING' | getText }}</a></li>
				</ul>
			</nav>

			<div class="widget-body">
				<div class="tab-content">

					<!-- Tab content -->
					<div class="tab-pane active">
						<router-outlet></router-outlet>
					</div>
					<!-- // Tab content END -->

				</div>
			</div>
		</div>
		<!-- // Widget END -->

	</div>
</div>
