<form name="form" class="form-horizontal" #myFormP="ngForm">

  <!-- Row -->
  <div class="row">

    <!-- Column -->
    <div class="col-md-3">
      <strong>{{ 'FORM_FIELD.CHG_PSW' | getText }}</strong>
    </div>
    <!-- // Column END -->

    <!-- Column -->
    <div class="col-md-9">
      <div class="form-group" [class.has-error]="oldPsw.errors">
        <label for="inputPasswordOld">{{ 'FORM_FIELD.OLD_PSW' | getText }}</label>
        <input type="password" id="inputPasswordOld" class="form-control" name="pass" #oldPsw="ngModel"
               [(ngModel)]="psw.old" ng-minlength="4" ng-maxlength="12" required>
        <div *ngIf="oldPsw.errors"><span class="help-block">{{ 'FORM_MSG.IVLD_PHONE' | getText }}</span>
          <span [hidden]="!oldPsw.errors.minlength" class="help-block">{{ 'FORM_MSG.PSW_SHRT' | getText }}</span>
          <span [hidden]="!oldPsw.errors.maxlength" class="help-block">{{ 'FORM_MSG.PSW_LONG' | getText }}</span>
        </div>
      </div>
      <div class="separator bottom"></div>

      <div class="form-group" [class.has-error]="newPsw1.errors">
        <label for="inputPasswordNew">{{ 'FORM_FIELD.NEW_PSW' | getText }}</label>
        <input type="password" id="inputPasswordNew" class="form-control" name="pass1" #newPsw1="ngModel"
               [(ngModel)]="psw.new1" ng-minlength="4" ng-maxlength="12" required>
        <div *ngIf="newPsw1.errors"><span class="help-block">{{ 'FORM_MSG.IVLD_PHONE' | getText }}</span>
          <span [hidden]="!newPsw1.errors.minlength" class="help-block">{{ 'FORM_MSG.PSW_SHRT' | getText }}</span>
          <span [hidden]="!newPsw1.errors.maxlength" class="help-block">{{ 'FORM_MSG.PSW_LONG' | getText }}</span>
        </div>
      </div>
      <div class="separator bottom"></div>

      <div class="form-group" [class.has-error]="newPsw2.errors">
        <label for="inputPasswordNew2">{{ 'FORM_FIELD.REPT_PSW' | getText }}</label>
        <input type="password" id="inputPasswordNew2" class="form-control" name="pass2" #newPsw2="ngModel"
               [(ngModel)]="psw.new2" ng-minlength="4" ng-maxlength="12" required>
        <div *ngIf="newPsw2.errors"><span class="help-block">{{ 'FORM_MSG.IVLD_PHONE' | getText }}</span>
          <span [hidden]="!newPsw2.errors.minlength" class="help-block">{{ 'FORM_MSG.PSW_SHRT' | getText }}</span>
          <span [hidden]="!newPsw2.errors.maxlength" class="help-block">{{ 'FORM_MSG.PSW_LONG' | getText }}</span>
        </div>
      </div>
      <div class="separator bottom"></div>
    </div>
    <!-- // Column END -->

  </div>
  <!-- // Row END -->

  <div class="separator line bottom"></div>

  <!-- Form actions -->
  <div class="form-actions">
    <button type="submit" class="btn btn-primary" [disabled]="myFormP.form.pristine || !myFormP.form.valid" (click)="updatePassword()">
      <i class="fa fa-check"></i>&nbsp; {{ 'FORM_FIELD.BTN_SAVE' | getText }}
    </button>
    <button type="submit" class="btn btn-primary" disabled>
      <i class="fa fa-refresh fa-spin"></i>&nbsp; {{ 'FORM_FIELD.BTN_SAVING' | getText }}
    </button>
  </div>
  <!-- // Form actions END -->

</form>