<form name="form" class="form-horizontal" #myFormP="ngForm">

	<div class="row">

		<!-- Column -->
		<div class="col-md-10">

			<div class="form-group" [class.has-error]="oldPsw.errors && !oldPsw.pristine">
				<label class="col-md-4 control-label" for="inputPasswordOld">{{ 'FORM_FIELD.OLD_PSW' | getText }}</label>

				<div class="col-md-8">
					<input type="password" id="inputPasswordOld" class="form-control" name="pass" #oldPsw="ngModel"
					       [(ngModel)]="psw.oldPsw" minlength="4" maxlength="12" required>

					<div *ngIf="oldPsw.errors && !oldPsw.pristine">
						<span [hidden]="!oldPsw.errors.minlength" class="help-block">{{ 'FORM_MSG.PSW_SHRT' | getText }}</span>
						<span [hidden]="!oldPsw.errors.maxlength" class="help-block">{{ 'FORM_MSG.PSW_LONG' | getText }}</span>
					</div>
				</div>
			</div>

			<div class="form-group" [class.has-error]="newPsw.errors && !newPsw.pristine">
				<label class="col-md-4 control-label" for="inputPasswordNew">{{ 'FORM_FIELD.NEW_PSW' | getText }}</label>

				<div class="col-md-8">
					<input type="password" id="inputPasswordNew" class="form-control" name="pass1" #newPsw="ngModel"
					       [(ngModel)]="psw.newPsw" minlength="4" maxlength="12" required>

					<div *ngIf="newPsw.errors && !newPsw.pristine">
						<span [hidden]="!newPsw.errors.minlength" class="help-block">{{ 'FORM_MSG.PSW_SHRT' | getText }}</span>
						<span [hidden]="!newPsw.errors.maxlength" class="help-block">{{ 'FORM_MSG.PSW_LONG' | getText }}</span>
					</div>
				</div>
			</div>

			<div class="form-group" [class.has-error]="testPsw.errors && !testPsw.pristine">
				<label class="col-md-4 control-label" for="inputPasswordNew2">{{ 'FORM_FIELD.REPT_PSW' | getText }}</label>

				<div class="col-md-8">
					<input type="password" id="inputPasswordNew2" class="form-control" name="pass2" #testPsw="ngModel"
					       [(ngModel)]="psw.test" minlength="4" maxlength="12" required>

					<div *ngIf="testPsw.errors && !testPsw.pristine">
						<span [hidden]="!testPsw.errors.minlength" class="help-block">{{ 'FORM_MSG.PSW_SHRT' | getText }}</span>
						<span [hidden]="!testPsw.errors.maxlength" class="help-block">{{ 'FORM_MSG.PSW_LONG' | getText }}</span>
					</div>
				</div>
			</div>

			<div class="separator top"></div>
			<div class="form-group">
				<label class="col-md-4 control-label"></label>

				<div class="form-actions col-md-8">
					<button *ngIf="!loading" class="btn btn-primary col-md-12"
					        [disabled]="myFormP.form.pristine || !myFormP.form.valid"
					        (click)="update();myFormP.form.markAsPristine()">
						<i class="fa fa-check"></i>&nbsp; {{ 'FORM_FIELD.BTN_SAVE' | getText }}
					</button>

					<button *ngIf="loading" class="btn btn-primary col-md-12" disabled>
						<i class="fa fa-refresh fa-spin"></i>&nbsp; {{ 'FORM_FIELD.BTN_SAVING' | getText }}
					</button>
				</div>
			</div>

		</div>
		<!-- // Column END -->

	</div>

</form>